@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ede2ed;
    font-family: 'Roboto', sans-serif;
}

.navbar{

    height: 5vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-container {
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(45deg, #582159, #2443AE);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 1vh;
    animation: logoGlow 10s linear infinite;
}

@keyframes logoGlow {
    0%{
        background: linear-gradient(45deg, #582159, #2443AE);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }   

    50%{
        background: linear-gradient(180deg, #582159, #2443AE);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        }

    100%{
        background: linear-gradient(45deg, #582159, #2443AE);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

section {
    position: absolute;
    top: 5vh;
    background-color: rgb(249, 238, 247);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border-radius: 10px;
    left: 0;
}

.graph-menu{
    background-color: #ede2ed;
    width: 4%;
    height: 90%;
    position: relative;
    top: 3vh;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.graph-item{
    display: block;
    width: 80%;
    height: 10%;
    position: relative;
    top: 6vh;
    display: flex;
    align-self: center;
    flex-direction: row;
    gap: 10px;
    color: rgb(92, 32, 93);
}

.graph-item svg{
    display: block;
    position: relative;

}

.graph-item-text{
    position: relative;
    top: 0.7vh;
    font-size: larger;
    
}

.graph-item:hover{
    cursor: pointer;
    color: red;
}

